.header {
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.5px;
  transition: 0.25s;
}

.logo:hover {
  color: #c4b5fd;
  text-shadow: 0 0 20px rgba(168, 85, 247, 0.5);
}

.badge {
  padding: 8px 14px;
  border-radius: 999px;
  background: rgba(139, 92, 246, 0.15);
  border: 1px solid rgba(139, 92, 246, 0.3);
  color: #c4b5fd;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
}

.badge:hover {
  background: rgb(131, 102, 201);
  border: 1px solid rgb(99, 67, 173);
  color: white;
}

.userBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 요소 사이 간격 */
}

.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* 원형 */
  object-fit: cover; /* 이미지 찌그러짐 방지 */
  border: 2px solid #00ffd5;
}

.nickname {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  align-items: center;
  text-align: center;
}

.subtitle {
  color: #94a3b8;

  font-size: 14px;
}

.footer {
  margin-top: 60px;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  background: #0f172a;

  padding: 30px 20px;
}

.footer > div {
  max-width: 1200px;

  width: 100%;

  margin: 0 auto;
}

.footer a {
  color: #c4b5fd;

  font-size: 15px;

  font-weight: 600;

  text-decoration: none;

  transition: all 0.25s ease;
}

.footer a:hover {
  color: #ffffff;

  font-size: 16px;

  text-shadow: 0 0 8px rgba(168, 85, 247, 0.8);

  transform: translateY(-1px);
}

.footer p {
  color: #94a3b8;

  line-height: 1.8;
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {
  .header {
    padding: 20px 30px;
  }

  .logo {
    font-size: 28px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .header {
    padding: 16px;
  }

  .logo {
    font-size: 22px;
  }

  .badge {
    display: inline-block;
    font-size: 12px;
    padding: 6px 10px;
  }

  .footer {
    margin-top: 40px;

    padding: 24px 16px;
  }

  .footer > div {
    text-align: center;
  }

  .footer p {
    font-size: 13px;
  }
}
