*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 246, 255);
}

:root{
    --color1: rgb(214,137,248);
    --color2: rgb(116, 38, 150);
    --color3:rgb(255, 248, 235);
}

.header{
    padding: 20px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(214,137,248,1) 0%, rgba(246,228,193,1) 90.1% );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo a{
    color:white;
    font-size: 25px;
    font-weight: 900;
}

.nav a{
    color:var(--color2);
    font-size: 18px;
    font-weight: 700;
}