* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 246, 255);
}

:root {
    --color0: #fff;
    --color1: #6D28D9;
    --color2: #E2C9FF;
    --color3: #FEF8FF;
    --color4: #5B21B6;
    --color5: #D8A4E3;
    --color6: #8B5CF6;
}

.header {
    padding: 20px;
    background: linear-gradient(90deg,
            #4C1D95,
            #6D28D9,
            #E9A8D4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

a {
    text-decoration: none;
}

.logo a {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav>a,
.nav>p {
    color: var(--color2);
    font-size: 18px;
    font-weight: 700;
}